Imports

In [2]:
import pandas as pd

In [ ]:
dataset_ine = pd.read_csv('dataset_ine.csv')

Info de cada variable

In [3]:
dataset_ine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41184 entries, 0 to 41183
Data columns (total 24 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   codi_districte                                           41184 non-null  int64
 1   codi_postal                                              41184 non-null  int64
 2   poblacio                                                 41184 non-null  object
 3   year                                                     41184 non-null  int64
 4   renta_neta_mitja_por_persona                             40290 non-null  float64
 5   renta_neta_mitja_por_hogar                               40290 non-null  float64
 6   renta_mitja_por_unitat_consum                            40158 non-null  float64
 7   renta_mediana_por_unitat_consum                          40158 non-null  float64
 8   renta_bruta_mitja_por_persona                            40288 non-null  float64
 9   renta_bruta_mitja_por_hogar                              40288 non-null  float64
 10  renta_bruta_mitja_por_persona_fuente_salario             40107 non-null  float64
 11  renta_bruta_mitja_por_persona_fuente_pensiones           40107 non-null  float64
 12  renta_bruta_mitja_por_persona_fuente_desempleo           40107 non-null  float64
 13  renta_bruta_mitja_por_persona_fuente_otras_prestaciones  40107 non-null  float64
 14  renta_bruta_mitja_por_persona_fuente_otros_ingresos      40107 non-null  float64
 15  indice_gini                                              40133 non-null  float64
 16  distribucion_renta_p80_p20                               40138 non-null  float64
 17  edad_media_poblacion                                     40309 non-null  float64
 18  prcnt_poblacion_menor_edad                               40309 non-null  float64
 19  prcnt_poblacion_mas_65_anos                              40309 non-null  float64
 20  tamano_medio_hogar                                       40309 non-null  float64
 21  prcnt_hogares_unipersonales                              40309 non-null  float64
 22  poblacion_habitantes                                     40309 non-null  float64
 23  prcnt_poblacion_espanola                                 40306 non-null  float64
dtypes: float64(20), int64(3), object(1)
memory usage: 7.5+ MB

Mida: 24 variables i 41184 registres

In [7]:
dataset_ine.shape

(41184, 24)

Mostra dels primers 5 registres

In [13]:
dataset_ine.head()

,codi_districte,codi_postal,poblacio,year,renta_neta_mitja_por_persona,renta_neta_mitja_por_hogar,renta_mitja_por_unitat_consum,renta_mediana_por_unitat_consum,renta_bruta_mitja_por_persona,renta_bruta_mitja_por_hogar,...,renta_bruta_mitja_por_persona_fuente_otros_ingresos,indice_gini,distribucion_renta_p80_p20,edad_media_poblacion,prcnt_poblacion_menor_edad,prcnt_poblacion_mas_65_anos,tamano_medio_hogar,prcnt_hogares_unipersonales,poblacion_habitantes,prcnt_poblacion_espanola
0,1700101001,17001,Agullana,2022,19392.0,50407.0,28845.0,19950.0,27842.0,72374.0,...,11688.0,30.8,2.7,44.0,19.1,20.6,2.6,26.3,921.0,83.8
1,1700101001,17001,Agullana,2021,15642.0,39854.0,23693.0,19250.0,20853.0,53129.0,...,5391.0,30.7,2.5,43.4,19.3,20.2,2.5,29.3,893.0,83.5
2,1700101001,17001,Agullana,2020,13498.0,34421.0,20669.0,17850.0,16650.0,42457.0,...,2098.0,30.8,2.6,43.6,18.1,21.2,2.5,29.4,888.0,82.6
3,1700101001,17001,Agullana,2019,14657.0,36909.0,21907.0,17850.0,18568.0,46757.0,...,3981.0,30.9,2.4,43.7,18.3,21.2,2.5,28.5,858.0,83.1
4,1700101001,17001,Agullana,2018,14209.0,35371.0,20930.0,17150.0,17936.0,44647.0,...,4181.0,31.8,2.4,43.9,18.1,21.8,2.5,31.6,830.0,84.5

No hi han duplicats

In [14]:
dataset_ine.duplicated().sum()

0

Tenim valors null a diferents columnes

In [15]:
dataset_ine.isnull().sum()

codi_districte                                                0
codi_postal                                                   0
poblacio                                                      0
year                                                          0
renta_neta_mitja_por_persona                                894
renta_neta_mitja_por_hogar                                  894
renta_mitja_por_unitat_consum                              1026
renta_mediana_por_unitat_consum                            1026
renta_bruta_mitja_por_persona                               896
renta_bruta_mitja_por_hogar                                 896
renta_bruta_mitja_por_persona_fuente_salario               1077
renta_bruta_mitja_por_persona_fuente_pensiones             1077
renta_bruta_mitja_por_persona_fuente_desempleo             1077
renta_bruta_mitja_por_persona_fuente_otras_prestaciones    1077
renta_bruta_mitja_por_persona_fuente_otros_ingresos        1077
indice_gini                                                1051
distribucion_renta_p80_p20                                 1046
edad_media_poblacion                                        875
prcnt_poblacion_menor_edad                                  875
prcnt_poblacion_mas_65_anos                                 875
tamano_medio_hogar                                          875
prcnt_hogares_unipersonales                                 875
poblacion_habitantes                                        875
prcnt_poblacion_espanola                                    878
dtype: int64

Certificats

In [33]:
dataset_certificats = pd.read_csv('certificats.csv')

C:\Users\sergi\AppData\Local\Temp\ipykernel_20320\2710450233.py:1: DtypeWarning: Columns (2,65) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset_certificats = pd.read_csv('certificats.csv')

Agrupem certificats per districte (Codi mundissec). Fem la mitjana dels altres valors numerics.

In [37]:
dataset_certificats["mundissec"] = dataset_certificats["mundissec"].astype(str)
grouped_data = dataset_certificats.groupby("mundissec").mean(numeric_only=True).reset_index()
grouped_data["mundissec"] = grouped_data["mundissec"].astype(str)  # Evita el ".0"

In [ ]:
grouped_data

0          8001801001.0
1          8001801001.0
2          8001801001.0
3          8001801001.0
4          8001801001.0
               ...
1336920             nan
1336921             nan
1336922             nan
1336923             nan
1336924             nan
Name: mundissec, Length: 1336925, dtype: object

In [60]:
mapa_socioeconomic = pd.read_csv("../../../dades/raposos/mapa_socioeconomic.csv")
mapa_socioeconomic = mapa_socioeconomic.iloc[:, 1:]
mapa_socioeconomic['indice_gini'] = mapa_socioeconomic['indice_gini'].astype(float)
mapa_socioeconomic.to_csv("../../../dades/raposos/mapa_socioeconomic_cleaned.csv", index=False)

In [65]:
mapa_socioeconomic_cleaned = pd.read_csv("../../../dades/raposos/mapa_socioeconomic_cleaned.csv")

In [66]:
cols = ['mundissec_original'] + [col for col in mapa_socioeconomic_cleaned.columns if col != 'mundissec_original']
mapa_socioeconomic_cleaned = mapa_socioeconomic_cleaned[cols]

# Guardar el dataset amb les columnes reordenades
mapa_socioeconomic_cleaned.to_csv("../../../dades/raposos/mapa_socioeconomic_cleaned.csv", index=False)